.card-text {
  font-size: 64px;
  padding-left: 10%;
}

.card-text-sub {
  font-size: 30px;
  padding-left: 10%;
}

.card-img-overlay {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
